/*
set up webpage structure
set up webpage structure
set up webpage structure
*/

/* header on the top has 200px height */

/* core data */

/* footer on the bottom has 200px height */

html,
body {
    display: block; /* it must be block as default */
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.not-footer {
    display: block; /* it must be block as default */
    overflow: hidden;
    width: 100%;
    min-height: 100%; /* at least 100% */
    margin: 0 0 -200px; /* 200px footer */
    padding: 0;
}

.navbar-brand {
    line-height: 200px; /* 200px header */
    height: 200px; /* 200px header */
    padding-top: 0;
}

.not-footer-buffer {
    height: 200px; /* 200px footer */
}

.footer {
    display: block; /* it must be block as default */
    bottom: 0;
    width: 100%;
    height: 200px; /* 200px footer */
    margin: 0;
    padding: 0;
}

/*
set up footer style
set up footer style
set up footer style
*/

.footer .footer-table {
    display: table;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0%;
    background-color: #000000; /* use red for debug purpose */
    text-align: center;
}

.footer .footer-row {
    display: table-row;
}

.footer .footer-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 3%;
}

.footer p {
    margin: 0;
    color: #000000;
}

.footer #footer-row1 {
    height: 75%;
    background-color: #FAFAFA;
}

.footer #footer-row2 {
    height: 25%;
    background-color: #9F9FA0;
}

.footer #footer-row2 p {
    display: inline-block;
    color: #FFFFFF;
}

.footer #footer-row2 img {
    display: inline-block;
    height: 25px; /* half of 50px */
}

.footer form,
.footer .form-group,
.footer input {
    display: inline-block;
    height: inherit;
    margin: 0;
}

.footer #button-sign-up,
.footer #button-sign-up:focus,
.footer #button-sign-up:active {
    color: red;
    background-color: #9F9FA0;
    border: transparent;
}

.footer .a-email,
.footer .a-email:link,
.footer .a-email:visited {
    text-decoration: underline;
    /* color: inherit; */
}

.footer .span-black {
    color: black;
}

.footer #button-location {
    color: black;
    background-color: #9F9FA0;
    border: transparent;
}

.footer .dropdown-menu {
    right: 0;
    left: auto;
    min-width: 100px;
    padding: 0;
    background-color: #9F9FA0;
}

.footer .dropdown-menu>li>a:hover,
.footer .dropdown-menu>li>a:focus {
    background-color: #FFFFFF;
}

.footer #footer-row2 .width-buffer {
    display: none;
    width: 1%;
}

.footer #footer-row2 .width-buffer-br {
    display: none;
    width: 2%;
}

.footer br {
    display: inline;
}

#img-banner-small {
    display: block;
}

#img-banner {
    display: none;
}

/*
set up core data
set up core data
set up core data
*/

.navbar {
    margin-bottom: 0px; /* core data top buffer */
}

.row-no-margin .row {
    margin: 0; /* core data row buffer */
}

.row-last-buffer {
    height: 20px; /* core data bottom buffer */
}

.container-img {
    display: block; /* center */
    margin: auto; /* center */
    padding: 0;
}

.img-center {
    display: block; /* center */
    margin: auto; /* center */
    width: 100%;
    padding: 0;
}

/*
set up header
set up header
set up header
*/

.container-fluid > .container-narrow,
.container > .container-narrow{
    max-width: 500px;
    margin: auto;  /* center */
}

#img-logo {
    position: absolute; /* ignore any collision with right elements */
    height: 50px;
    margin-top: 120px;
}

/* change navbar background style */

.navbar-img {
    background-image: url('header.png');
    border: 0;
}

/* change toggle button style */

.navbar .navbar-toggle-float {
    float: right;
    margin-right: 25px;
    margin-top: 75px;
}

/* change toggle down menu style */

/* default shall be one column with multiple rows */

/* the following shall display one line in the middle */

/*

.nav li {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.navbar-nav li a {
    height: 100px;
}

*/

.navbar-collapse {
    background-color: #FFFFFF;
    padding-bottom: 50px;
    padding-left: 90px;
    /* text-align: center; */
}

.toggle-down-menu {
    background-color: #FFFFFF;
    margin-top: 0;
    margin-bottom: 0;
}

/* set up narbar color */

.navbar-default {
    background-color: #9F9FA0;
    border-color: #000000;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: #000000;
}

.navbar-default .navbar-text {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #9F9FA0; /* toggle down menu color */
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000000;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:focus {
    border-color: #000000;
    background-color: #9F9FA0;
}

.navbar-default .navbar-toggle:hover {
    border-color: #000000;
    background-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar,
.navbar-default .navbar-toggle .icon-bar:focus {
    background-color: #FFFFFF;
}

.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #9F9FA0;
}

.navbar-default .navbar-collapse {
    border-color: #FFFFFF; /* toggle down menu */
}

.navbar-default .navbar-form {
    background-color: #FFFFFF;
}

.navbar-default .navbar-link {
    color: #FFFFFF;
}

.navbar-default .navbar-link:hover {
    color: #000000;
}