/*
set up webpage structure
set up webpage structure
set up webpage structure
*/

.navbar {
    margin-bottom: 20px; /* core top buffer */
}

/*
set up footer style
set up footer style
set up footer style
*/

/* footer has no br for wide screen */

.footer .footer-cell {
    padding: 1%;
}

.footer #footer-row2 .width-buffer {
    display: inline-block;
    width: 1%;
}

.footer #footer-row2 .width-buffer-br {
    display: inline-block;
    width: 0.5%;
}

.footer br {
    display: none;
}

/*
set up core data
set up core data
set up core data
*/

.navbar {
    margin-bottom: 0px; /* core data top buffer */
}

/* change banner size for wide screen */

#img-banner-small {
    display: none;
}

#img-banner {
    display: block;
}

.img-center {
    /* the width size of the given banner.png is less than 1400px */
    max-width: 1400px;
    /* consistent style between browser width more than 1400px and less than 1400px */
    padding: 1%;
}

/*
set up header
set up header
set up header
*/

.container-narrow {
    max-width: none;
}

.navbar-collapse {
    background-color: transparent;
    padding-bottom: 50px;
    padding-left: 90px;
}

.toggle-down-menu {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
}

/* toggle down menu color */

.navbar-default .navbar-nav > li > a {
    padding: 0;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 165px; /* 200px header */
    height: 200px; /* 200px header */
    padding-top: 0;
    color: #FFFFFF;
    font-size: 17px;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}
